@media (min-width:501px) and (max-width:1200px){

   
.container .header{
  position: relative;
}

.container .header .logo{
  margin-left: 5px;
}

  .container .header .nav{
    display: block;
    border: 2px solid #eee;
    width: 100%;
    min-height: 20px;
    margin: 0px auto;
     padding: 2px;
    display: none;
 }

 .container .header .bar{
   display: block;
 }
 
 .container .header .nav li{
   display:block;
   width: 90%;
   height: 40px;
   font-size: 18px;
   text-align: center;
   padding:5px;
   background-color: #ffffff;
   margin: 5px auto;
 
 }
 
 .container .header .nav li.btn{
   width: 90%;
   background-color: #ffffff;
   border-radius: 0px;
 
 }
 
 .container .header .nav li.btn a{
  color: #063680;
 }
 
 
 .container .header .nav li a{
   text-decoration: none;
   color: #063680;
 }




 
/* Intro section */
.container .intro{
  padding-top: 50px;
}

.container .intro .box.image{
  display: none;
}

.container .intro .box{
  width: 85%;
  height: 400px;
  display:block;
}


/* launch section */

.container .launch .icon,.container .launch .content,.container .launch .button{
   display: inline-block;
   vertical-align: top;
   margin: 10px;
}



.container .launch .icon{
  width: 80px;
  height: 80px;
  font-size: 50px;
  margin-top: 60px;
}

.container .launch .content{
  width: 75%;
  min-height: 100px;
  padding: 10px;
}





.container .launch .button{
  width: 40%;
  height: 100px;
  display: block;
  margin-left: 115px;
  /* border: 2px solid #fff; */
}


/* partners section */
.container .partners{
   text-align: center;
}




/* experience section */
.container .experience{
  padding: 10px;
  padding-top: 20px;
}

.container .experience .box{
   width: 95%;
   margin: 20px auto;
   display:block;
   padding: 10px;
}


/* supports */

.container .support{
  padding: 10px;
}

.container .support .box{
   width: 95%;
   margin: 10px auto;
   display:block;
}



.container .support .box a{
  width: 40%;
}


/* testimony section */
.container .testimonies{
  padding:10px;
  text-align: center;
}

.container .testimonies .child{
   width: 45%;
   min-height: 300px;
   display:inline-block;
   margin: 15px auto;
   padding: 15px;
}

.container .testimonies .box .child a{
  width: 100%;
}











}